{% extends 'base.html' %}
{% block content %}
<h1>Passwort ändern</h1>
{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
{% if info %}<p style="color:green;">{{ info }}</p>{% endif %}
<form method="post">
    <label>Altes Passwort:<br><input type="password" name="old_pw"></label><br>
    <label>Neues Passwort:<br><input type="password" name="new_pw1"></label><br>
    <label>Bestätigen:<br><input type="password" name="new_pw2"></label><br>
    <button type="submit">Speichern</button>
</form>
{% endblock %}
