{% extends 'base.html' %}
{% block content %}
<h1>Getränke</h1>
<table>

<tr><th>Name</th><th>Preis</th><th>Lager</th><th>Mindestens</th><th>Auffüllen</th><th colspan="2">Aktion</th></tr>
{% for d in drinks %}
<tr class="{% if d['stock'] < d['min_stock'] %}negstock{% endif %}">
<td>{{ d['name'] }}</td>
<td>{{ (d['price']/100)|round(2) }} €</td>
<td>{{ d['stock'] }}</td>
<td>{{ d['min_stock'] }}</td>

<td>
  <form method="post" action="{{ url_for('drink_restock', drink_id=d['id']) }}" style="display:inline">
    <input type="number" name="amount" min="1" size="4">
    <button type="submit">+</button>
  </form>
</td>
<td><a href="{{ url_for('drink_edit', drink_id=d['id']) }}">Bearbeiten</a></td>
<td><a href="{{ url_for('drink_delete', drink_id=d['id']) }}">Löschen</a></td>
</tr>
{% endfor %}
</table>
<h2>Neu</h2>
<form method="post" action="{{ url_for('drink_add') }}" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Name">

    <input type="number" step="0.01" name="price" placeholder="Preis in Euro">
    <input type="number" name="stock" placeholder="Lagerbestand">
    <input type="number" name="min_stock" placeholder="Mindestbestand">
    <input type="file" name="image">

    <button type="submit">Hinzufügen</button>
</form>
{% endblock %}
