{% extends 'base.html' %}
{% block content %}
<h1>Einstellungen</h1>
<form method="post" enctype="multipart/form-data">
    <label>Überziehungslimit in Euro:<br>
        <input type="number" step="0.01" name="overdraft" value="{{ overdraft_limit/100 }}">
    </label><br>
    <label>Admin-PIN:<br>
        <input type="text" name="admin_pin" value="{{ admin_pin }}">
    </label><br>
    <label>Webinterface QR-Code:<br>
        <input type="file" name="qr_code" accept="image/png">
    </label><br>
    {% if qr_code_exists %}
    <img src="{{ url_for('web_qr_png') }}" alt="QR-Code" style="max-width:200px;"><br>
    {% endif %}
    <label>Hintergrundbild:<br>
        <input type="file" name="background" accept="image/png">
    </label><br>
    {% if background_exists %}
    <img src="{{ url_for('background_png') }}" alt="Hintergrund" style="max-width:200px;"><br>
    {% endif %}
    <label>Hintergrundbild Dankesseite:<br>
        <input type="file" name="thank_background" accept="image/png">
    </label><br>
    {% if thank_background_exists %}
    <img src="{{ url_for('thank_background_png') }}" alt="Danke-Hintergrund" style="max-width:200px;"><br>
    {% endif %}
    <button type="submit">Speichern</button>
</form>
{% endblock %}
